@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 37, 20, 59;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}


.dynamic-widget-inline {
  background-color: theme('colors.primary.DEFAULT') !important;
  transition-property: color, background-color, border-color !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 200ms !important;
}

.dynamic-widget-inline:hover {
  background-color: theme('colors.primary.hover') !important;
}
